<div id="<%= dom_id chore_entry %>">
  <p>
    <strong>Chore:</strong>
    <%= chore_entry.chore_id %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= chore_entry.date %>
  </p>

  <p>
    <strong>Completed:</strong>
    <%= chore_entry.completed %>
  </p>

</div>
